.card {
  background-color: $color-gray-light;
  padding: 3.5rem;
  max-width: 40rem;
  border-radius: .8rem;
  position: relative;

  &__img {
    background-color: $color-primary-dark;
    padding: 2.5rem;
    border-radius: 50%;
    max-width: min-content;
    max-height: min-content;
    position: absolute;
    top: -20%;
  }

  &__title {
    font-family: 'Poppins-Bold';
    font-size: 1.17em;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }
}