$color-primary: hsl(180, 66%, 49%);
$color-primary-light: hsl(180, 47%, 71%);
$color-primary-dark: hsl(257, 27%, 26%);

$color-secondary: hsl(0, 87%, 67%);

$color-gray:  hsl(0, 0%, 86%);
$color-gray-light: hsl(0, 0%, 95%);
$color-gray-second: hsl(257, 7%, 63%);

$color-blue-dark: hsl(255, 11%, 22%);

$color-violet-dark: hsl(260, 8%, 14%);

$padding-lateral: 10vw;